*.mat
*.csv
*.xlsx
*.png
*.jpeg
*.jpg
.vs
*.fif
*.stc
.ipynb_checkpoints
*.rar
plot_mne_inverse_label_connectivity.ipynb
*.txt
*.xyz
*.loc
*.elp
__pycache__
DynamicConnectivity
erp_bootstrap
AVG_BP_DICT_BINS
*.pkl



